name: example-build

on:
  pull_request:
    branches: [ main ]

jobs:
  list-example-files:
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.files.outputs.files }}
    steps:
      - uses: actions/checkout@v6
      - id: files
        run: echo "files=$(ls examples/ | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
  build:
    name: build
    needs: [list-example-files]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example-file: ${{ fromJson(needs.list-example-files.outputs.files) }}
    steps:
      - uses: actions/checkout@v6
      - name: Set branch
        run: |
          echo ${GITHUB_HEAD_REF}
          sed -i "s#ref: main#ref:  ${GITHUB_HEAD_REF}#g" examples/${{ matrix.example-file }}
      - uses: esphome/build-action@v7
        with:
          # renovate: image=esphome/esphome 
          version: "2025.11.1"
          yaml-file: examples/${{ matrix.example-file }} 
